<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
<main class="container">
    <th:block th:replace="fragments/header :: header"></th:block>
    <section class="container">
        <div class="container">

            <h3>Employee List</h3>
            <a th:href="@{~/employee/addnew}" class="btn btn-primary btn-sm mb-3" >Add Employee</a>
            <table style="width:80%" border="1"   class = "table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee:${allemplist}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.email}"></td>
                    <td> <a th:href="@{~/employee/showFormForUpdate/{id}(id=${employee.id})}"
                            class="btn btn-primary">Update</a>
                        <a th:href="@{~/employee/deleteEmployee/{id}(id=${employee.id})}"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>


</body>
</html>